In [9]:
import pandas as pd
import seaborn as sb
df = pd.read_csv(r'C:\Users\MINH\Downloads\Baseball.csv')
print(df)

     Team League  Year   RS   RA    W    OBP    SLG     BA  Playoffs  \
0     ARI     NL  2012  734  688   81  0.328  0.418  0.259         0
1     ATL     NL  2012  700  600   94  0.320  0.389  0.247         1
2     BAL     AL  2012  712  705   93  0.311  0.417  0.247         1
3     BOS     AL  2012  734  806   69  0.315  0.415  0.260         0
4     CHC     NL  2012  613  759   61  0.302  0.378  0.240         0
...   ...    ...   ...  ...  ...  ...    ...    ...    ...       ...
1227  PHI     NL  1962  705  759   81  0.330  0.390  0.260         0
1228  PIT     NL  1962  706  626   93  0.321  0.394  0.268         0
1229  SFG     NL  1962  878  690  103  0.341  0.441  0.278         1
1230  STL     NL  1962  774  664   84  0.335  0.394  0.271         0
1231  WSA     AL  1962  599  716   60  0.308  0.373  0.250         0

      RankSeason  RankPlayoffs    G   OOBP   OSLG
0            NaN           NaN  162  0.317  0.415
1            4.0           5.0  162  0.306  0.378
2            5.0           4.0  162  0.315  0.403
3            NaN           NaN  162  0.331  0.428
4            NaN           NaN  162  0.335  0.424
...          ...           ...  ...    ...    ...
1227         NaN           NaN  161    NaN    NaN
1228         NaN           NaN  161    NaN    NaN
1229         1.0           2.0  165    NaN    NaN
1230         NaN           NaN  163    NaN    NaN
1231         NaN           NaN  162    NaN    NaN

[1232 rows x 15 columns]

In [14]:
df.info

<bound method DataFrame.info of      Team League  Year   RS   RA    W    OBP    SLG     BA  Playoffs  \
0     ARI     NL  2012  734  688   81  0.328  0.418  0.259         0
1     ATL     NL  2012  700  600   94  0.320  0.389  0.247         1
2     BAL     AL  2012  712  705   93  0.311  0.417  0.247         1
3     BOS     AL  2012  734  806   69  0.315  0.415  0.260         0
4     CHC     NL  2012  613  759   61  0.302  0.378  0.240         0
...   ...    ...   ...  ...  ...  ...    ...    ...    ...       ...
1227  PHI     NL  1962  705  759   81  0.330  0.390  0.260         0
1228  PIT     NL  1962  706  626   93  0.321  0.394  0.268         0
1229  SFG     NL  1962  878  690  103  0.341  0.441  0.278         1
1230  STL     NL  1962  774  664   84  0.335  0.394  0.271         0
1231  WSA     AL  1962  599  716   60  0.308  0.373  0.250         0

      RankSeason  RankPlayoffs    G   OOBP   OSLG
0            NaN           NaN  162  0.317  0.415
1            4.0           5.0  162  0.306  0.378
2            5.0           4.0  162  0.315  0.403
3            NaN           NaN  162  0.331  0.428
4            NaN           NaN  162  0.335  0.424
...          ...           ...  ...    ...    ...
1227         NaN           NaN  161    NaN    NaN
1228         NaN           NaN  161    NaN    NaN
1229         1.0           2.0  165    NaN    NaN
1230         NaN           NaN  163    NaN    NaN
1231         NaN           NaN  162    NaN    NaN

[1232 rows x 15 columns]>

df.describe()

In [16]:
from df import connect
connection = connect('databasename', 'username', 'pwsd')

ModuleNotFoundError: No module named 'df'